body{
    background-color: lavender;
    font-family: 'Kalam', cursive;
    font-size: 20px;
    width: 960px;
    margin: 50px auto;
}
.w50{
    width: 48%;
    float: left;
    margin: 1%;
}
.clear{
    clear: both;
}
#errors{
    color: black;
    font-family: 'Bilbo Swash Caps', cursive;
    font-size: 26px;
    line-height: 34px;
    text-align: center;
    padding: 10px;
    margin: 0;
    border-radius: 10px;
}
h1
{
    text-align: center;
    color:black;
}
form, .formData{
    width: 380px;
    border: 3px solid black;
    box-shadow: -1px -1px 0px #2c2c2c;
    padding: 30px;
    margin: 50px auto;
    color: black;
    background-color: #b6fff4;
    border-radius: 20px;
}
#receipt
{
    border: 3px solid black;
}

#receipt td
{
    border: 2px solid black;
    text-align: center;
}
label{
    width: 170px;
    display: inline-block;
    font-size: 18px;
    color: black;
}
input:not([type="radio"]), select{
    font-size: 16px;
    font-family: 'Kalam', cursive;
    padding: 5px 10px;
}
input:not([type="radio"]){
    width: 170px;
    height: 30px;
    margin-bottom: 10px;
}
select{
    width: 190px;
    margin-top: 10px;
}
input[type="submit"]{
    width: 100%;
    font-size: 22px;
    background-color: #000000;
    color: white;
    font-family: 'Kalam', cursive;
    border: 0px;
    padding: 10px;
    height: 50px;
    box-shadow: 4px 4px 0px #808080;
    border-radius: 8px;
}
input[type="submit"]:active{
    box-shadow: -4px -4px 0px #808080;
}

.top_menu{
    background-color: #0e3a74;
    border: 3px solid white;
    box-shadow: 0 0 10px #2c2c2c;
    color: white;
    border-radius: 20px;
}

.top_menu ul{
    list-style-type: none;
    text-align: center;
    margin: 0;
}

.top_menu ul li{
    display: inline-block;
    width: 130px;
}

.top_menu ul li:hover{
    background-color: #0781b2;
}
.top_menu ul li a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 0;
    display: block;
}


table{
    border: 2px solid white;
    border-collapse: collapse;
    margin: 20px auto;
    color: white;
}

td{
    background-color:white;
    border: 2px solid black;
    padding: 12px 15px;
    color: black;
}

th{
    border: 2px solid white;
    padding: 12px 15px;
    font-weight: bold;
    background-color: black;
    color: white;
    text-align: center;
}
