<% var title='' ; var desc='' ; %>

  <%- include('layouts/header'); -%>

    <body>
      <%- include('layouts/title'); -%>
        <%- include('layouts/adminnav'); -%>
          <main>
            <section id="about-page">
              <h1>Add Post</h1>
              <% if(status !=='success' ){ %>

                <form action="process" method="POST" enctype="multipart/form-data" class="addPage">
                  <div class="wrapper">
                    <label for="imageName">Image</label>
                    <input type="file" id="imageName" name="imageName">
                  </div>
                  <div class="wrapper">
                    <label for="title">Name</label>
                    <input type="text" id="title" name="title" value="<%= title %>">
                  </div>
                  <div class="wrapper">
                    <label for="desc">Description</label>
                    <!-- <input type="text" id="desc" name="desc"> -->
                    <textarea name="desc" id="desc" rows="10" cols="80">
                      This is my textarea
                    </textarea>
                    <script src="/ckeditor/ckeditor.js"></script>
                      <script>
                      CKEDITOR.replace('desc');
                    </script>
                  </div>

                  <div class="submission">
                    <input type="submit" value="Generate Scary ID!">
                  </div>
                </form>
                <% } %>

                  <p>
                    <%= status %>
                  </p>
                  <% if(status=='success' && imageName.length> 0 ){ %>
                    <h3>Item saved successfully</h3>
                    <!-- <img src="post/<%= imageName %>" alt="<%= status %>" style="width:80px; float: right;"> -->

                    <% } %>
            </section>
          </main>
    </body>

    <%- include('layouts/footer'); -%>