<%- include('layouts/header'); -%>

    <body>
        <%- include('layouts/postsNav', {posts: posts}); -%>
            <section class="blog">
                <h1 class="title">
                    <%= post.title %>
                </h1>
                <img src="<%= post.imageName %>" alt=<%=post.title %> />
                <p><%- post.desc %></p>
            </section>
    </body>
    <%- include('layouts/footer'); -%>