<!--Author : Sri Prithi Vijaya Saravanan
    Name of the Assignment : Assignment 4
    Date of Creation : 11-08-2021 -->

<%- include('layouts/header'); -%>
<body>
    <%- include('layouts/nav'); -%>
    <section>
       <table>
           <thead>
               <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Number</th>
                    <th>address</th>
                    <th>city</th>
                    <th>province</th>
                    <th>Sub Total</th>
                    <th>Tax</th>
                    <th>Total</th>               
                </tr>
           </thead>
           <tbody>
                <%
                    for(var order of orders){
                        %>
                            <tr>
                                <td><%= order.name %></td>
                                <td><%= order.email %></td>
                                <td><%= order.number %></td> 
                                <td><%= order.address %></td>
                                <td><%= order.city %></td>
                                <td><%= order.province %></td>
                                <td>$<%= order.subTotal %></td>
                                <td>$<%= order.tax %></td>
                                <td>$<%= order.total %></td>
                           </tr>
                        <%
                    }
                %>
           </tbody>
       </table>
    </section>
</body>
<%- include('layouts/footer'); -%>








