<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Creepster&family=Nosifer&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <title>Card</title>
</head>
<body class="card">
  <main>
    <h1>Your Halloween ID</h1>
    <section>
        <div class="cardData">
          
          <table style="float: left;">
            <tr>
              <th>Name: </th>
              <td><%= scaryName %></td>
            </tr>
            <tr>
              <th>Email: </th>
              <td><%= scaryEmail %></td>
            </tr>
            <tr>
              <th>Description: </th>
              <td><%= scaryDescription %></td>
            </tr>
          </table>

          <img src="post/<%= scaryImageName %>" alt="<%= scaryName %>" style="width:80px; float: right;">

          <div style="clear: both;"></div>

        </div>
    </section>
  </main>
  
  <footer>
    Credits: <br>
    Background photo by Toni Cuenca from <a href="https://www.pexels.com/photo/two-jack-o-lantern-lamps-619418/">Pexels</a>
  </footer>
</body>
</html>