<%- include('layouts/header'); -%>

    <body>
        <%- include('layouts/title'); -%>
            <%- include('layouts/adminnav'); -%>
                <main>
                    <section id="about-page">
                        <h1>Welcome</h1>
                        <p>hello Admin, Welcome to the Dashboard</p>
                    </section>
                </main>
    </body>

    <%- include('layouts/footer'); -%>