<% var title='' ; var desc='' ; %>

  <%- include('layouts/header'); -%>

    <body>
      <%- include('layouts/title'); -%>
        <%- include('layouts/adminnav'); -%>
          <main>
            <section id="about-page">
              <h1>Delete Post</h1>
                <%= message%>
            </section>
          </main>
    </body>

    <%- include('layouts/footer'); -%>