<% var title='' ; var desc='' ; %>

  <%- include('layouts/header'); -%>

    <body>
      <%- include('layouts/title'); -%>
        <%- include('layouts/adminnav'); -%>
          <main>
            <section id="about-page">
              <h1>Edit Posts</h1>
              <table>
                <thead>
                    <tr>
                         <th>Post</th>
                         <th>Edit</th>
                         <th>Manage</th>
                     </tr>
                </thead>
                <tbody>
                     <%
                         for(var post of posts){
                             %>
                                 <tr>
                                     <td><%= post.title %></td>
                                     <td><a href="<%= post.editLink %>">Edit </a></td> 
                                     <td><a href="<%= post.deleteLink %>">Delete</a></td> 
                                </tr>
                             <%
                         }
                     %>
                </tbody>
            </table>
            </section>
          </main>
    </body>

    <%- include('layouts/footer'); -%>