<% var title='' ; var desc='' ; %>

  <%- include('layouts/header'); -%>

    <body>
      <%- include('layouts/title'); -%>
        <%- include('layouts/adminnav'); -%>
          <main>
            <section id="about-page">
              <h1>Edit Post</h1>
              <% if(status !=='success' ){ %>

              <form action="process2" method="POST" enctype="multipart/form-data" class="editPage">
                <div class="wrapper">
                  <label for="imageName">Image</label>
                  <input type="file" id="imageName" name="imageName">
                </div>
                <div class="wrapper">
                  <label for="title">Name</label>
                  <input type="text" id="title" name="title" value="<%= post.title %>">
                </div>
                <div class="wrapper">
                  <label for="desc">Description</label>
                  <!-- <input type="text" id="desc" name="desc" value="<%= post.desc%>"> -->
                  <textarea name="desc" id="desc" rows="10" cols="80">
                    <%= post.desc%>
                  </textarea>
                  <script src="/ckeditor/ckeditor.js"></script>
                    <script>
                    CKEDITOR.replace('desc');
                  </script>
                </div>
                <div class="submission">
                  <input type="submit" value="Generate Scary ID!">
                </div>
              </form>
              <% } %>


              <p>
                <%= status %>
              </p>
              <% if(status=='success' ){ %>
                <h3>Item saved successfully</h3>
                <% } %>

            </section>
          </main>
    </body>

    <%- include('layouts/footer'); -%>