<%- include('layouts/header'); -%>
<body>
  <%- include('layouts/nav'); -%>
<section class="w50">
  <div class="formData">
    <%
      if(typeof(total) != 'undefined'){
        %>
        <p id="formResult">Congratulations! Order updated:</p>
        <table>
          <tr>
            <th>Name: </th>
            <td><%= name %></td>
          </tr>
          <tr>
            <th>Email: </th>
            <td><%= email %></td>
          </tr>
          <tr>
            <th>Phone: </th>
            <td><%= phone %></td>
          </tr>
          <tr>
            <th>Postcode: </th>
            <td><%= postcode %></td>
          </tr>
          <tr>
            <th>Campus: </th>
            <td><%= campus %></td>
          </tr>
          <tr>
            <th>Lunch: </th>
            <td><%= lunch %></td>
          </tr>
          <tr>
            <th>Tickets: </th>
            <td><%= tickets %></td>
          </tr>
          <tr>
            <th>Subtotal: </th>
            <td>$<%= subTotal.toFixed(2) %></td>
          </tr>
          <tr>
            <th>Tax: </th>
            <td>$<%= tax.toFixed(2) %></td>
          </tr>
          <tr>
            <th>Total: </th>
            <td>$<%= total.toFixed(2) %></td>
          </tr>
        </table>
        <%
      }
    %>
    
  </div>
</section>
<div class="clear"></div>
</body>
<%- include('layouts/footer'); -%>








