<!--Author : Sri Prithi Vijaya Saravanan
    Name of the Assignment : Assignment 4
    Date of Creation : 11-08-2021 -->

<%- include('layouts/header'); -%>
  <!--Declare Header File under Layouts-->

  <body>
    <%- include('layouts/nav'); -%>
      <h1>Print your Receipt Here</h1>
      <!--Declaring Receipt Page-->
      <section class="w50">
        <form name="myReceipt" method="POST" onsubmit="return true;">
          <!--Creating Form-->
          <h3>Please Enter your Details</h3>
          <!--Asking Users to Enter Details-->
          <label><b>Name</b></label>
          <!--Label for Name-->
          <input id="flName" placeholder="First Last" type="text" name='flName'><br />

          <label><b> Address</b></label>
          <!--Label for Address-->
          <input id="address" placeholder="Area" type="text" name='address'><br />

          <label><b> City</b></label>
          <!--Label for City-->
          <input id="city" placeholder="Kitchener" type="text" name='city'><br />

          <label><b> Province</b></label>
          <!--Label for Province-->
          <select name="province" id="province">
            <option value="">----- Select -----</option>
            <option value="Ontario">Ontario</option>
            <option value="Nunavet">Nunavet</option>
            <option value="Quebec">Quebec</option>
            <option value="Northwest Territories">Northwest Territories</option>
          </select><br /><br />

          <label><b>Contact Number</b></label>
          <!--Label for Number-->
          <input id="number" placeholder="(xxx)-xxx-xxxx" type="text" name='number'><br />

          <label><b> Email</b></label>
          <!--Label for Email-->
          <input id="email" placeholder="test@test.com" type="text" name='email'><br />


          <label><b>Notebooks 10$</b></label>
          <!--Label for Notebooks-->
          <input id="noteBooks" placeholder="1" type="number" name="noteBooks"><br />


          <label><b>Pens 5$</b></label>
          <!--Label for Pens-->
          <input id="Pens" placeholder="1" type="number" name="Pens"><br />


          <label><b>Pencils 3$</b></label>
          <!--Label for Pencils-->
          <input id="pencils" placeholder="1" type="number" name="pencils"><br />

          <br /><br />
          <input type="submit" name="submit" value="Submit">
          <!--Declaring Form Submission-->
          <p id="errors"></p>
          <!--Declaring Errors-->
        </form>
      </section>
      <section class="w50">
        <!--Declaring error array-->
        <div class="formData">
          <% if(typeof(errors) !='undefined' ){ for(var error of errors){ %>
            <p class="errors">
              <%= error.msg%>
            </p>
            <% } } %>
              <%if(typeof(total) !='undefined' ) { %>
                <p id="formResult">Your Receipt:</p>
                <!--Declaring Receipt Table-->
                <%if (subTotal <=400) { %>
                  <h3>The Minimum cart value is $10</h3>
                  <% } %>
                    <table>
                      <tr>
                        <th>Name: </th>
                        <td>
                          <%= name %>
                        </td>
                      </tr>
                      <tr>
                        <th>Address</th>
                        <td>
                          <%= address %>
                        </td>
                      </tr>
                      <tr>
                        <th>City </th>
                        <td>
                          <%= city %>
                        </td>
                      </tr>
                      <tr>
                        <th>Province: </th>
                        <td>
                          <%= province %>
                        </td>
                      </tr>
                      <tr>
                        <th>Email: </th>
                        <td>
                          <%= email %>
                        </td>
                      </tr>
                      <tr>
                        <th>Contact Number: </th>
                        <td>
                          <%= number %>
                        </td>
                      </tr>
                    </table>
                    <br />
                    <table id="receipt">
                      <tr>
                        <td>Description</td>
                        <td>Quantity</td>
                        <td>Unit Price</td>
                        <td>Total Price</td>
                      </tr>
                      <tr>
                        <th>Notebooks: </th>
                        <td>
                          <%= noteBooks %>
                        </td>
                        <td>
                          <%= noteBooksUnitPrice %>
                        </td>
                        <td>
                          <%= noteBooksTotalPrice %>
                        </td>
                      </tr>
                      <tr>
                        <th>Pens:</th>
                        <td>
                          <%= Pens %>
                        </td>
                        <td>
                          <%= pensUnitPrice %>
                        </td>
                        <td>
                          <%= pensTotalPrice %>
                        </td>
                      </tr>

                      <tr>
                        <th>Pencils </th>
                        <td>
                          <%= pencils %>
                        </td>
                        <td>
                          <%= pencilsUnitPrice %>
                        </td>
                        <td>
                          <%= pencilsTotalPrice %>
                        </td>
                      </tr>
                      <tr>
                        <th>Subtotal: </th>
                        <td colspan="3">
                          <%= subTotal %>
                        </td>
                      </tr>
                      <tr>
                        <th>Tax: </th>
                        <td colspan="3">
                          <%= tax %>
                        </td>
                      </tr>
                      <tr>
                        <th>Total: </th>
                        <td colspan="3">
                          <%= total %>
                        </td>
                      </tr>
                    </table>
                    <% } %>
        </div>
      </section>
      <div class="clear"></div>
  </body>
  <%- include('layouts/footer'); -%>
    <!--Close Footer Section from Layouts-->