<nav class="top_menu">
  <ul>
    <li>
      <a href="/post/Home">My Post</a>
    </li>
    <li>
      <a href="/">Order Form</a>
    </li>
    <li>
      <a href="/allorders">All Orders</a>
    </li>
    <% if(typeof(userLoggedIn) != 'undefined' && userLoggedIn){%>
      <li>
        <a href="/logout">Log Out</a>
      </li>
    <%}else{%>
    <li>
      <a href="/login">Log In</a>
    </li>
    <%}%>
  </ul>
</nav>
